@page "/dashboard/agency"
@using FribergHomeClient.Components
@using FribergHomeClient.Data.Dto
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject HttpClient Http

<h3>Agency</h3>

@if (agency != null)
{
    <AgencyCard Name="@agency.Name" Presentation="@agency.Presentation" LogoUrl="@agency.LogoUrl"></AgencyCard>
}
else
{
    <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Info" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}

@code {
    RealEstateAgencyPageDTO? agency { get; set; }


    protected override async Task OnInitializedAsync()
    {
        agency = await Http.GetFromJsonAsync<RealEstateAgencyPageDTO>($"api/RealEstateAgencies/My");
    }

}
