@page "/dashboard/editproperty"
@using FribergHomeClient.Components
@using FribergHomeClient.Data.Dto;
@inject HttpClient Http

@* Fredrik *@
<h3>@(selectedPropertyId == null ? "Välj bostad att redigera" : "Redigera vald bostad")</h3>

@if (selectedPropertyId == null)
{
    <div>
        @foreach (var property in properties)
        {
            <button @onclick="() => SelectedProperty(property.Id ?? 0)">
                <PropertyCard Property="@property"></PropertyCard>
            </button>
        }
    </div>
}
else
{
    <PropertyForm PropertyId="selectedPropertyId.Value" OnSave="RefreshList"></PropertyForm>
    <button class="btn btn-secondary" @onclick="() => DeselectedProperty()">Tillbaka till listan</button>
}





