@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@page "/dashboard/myobjects"
@attribute [Authorize(Roles = "Agent, SuperAgent")]

@* Author: Christoffer *@
<h3>MyObjects</h3>

<ListMyProperties></ListMyProperties>

