@page "/dashboard/myprofile"
@using FribergHomeClient.Components
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

@* Author: Tobias *@

<h3>Min Profil</h3>

@if (agentId.HasValue)
{
    <AgentProfile Id="agentId"></AgentProfile>
}
else
{
    <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Info" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}

@code {
    private int? agentId;

    protected override async Task OnInitializedAsync()
    {
        agentId = await LocalStorage.GetItemAsync<int>("AgentId");
    }

}
