@page "/dashboard/myprofile"
@using FribergHomeClient.Components
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject NavigationManager navigationManager

@* Author: Tobias *@

<h3>Min Profil</h3>

@if (agentId.HasValue)
{
    <AgentProfile Id="agentId"></AgentProfile>
}
else
{
    <Spinner/>
}

@code {
    private int? agentId;

    protected override async Task OnInitializedAsync()
    {
        agentId = await LocalStorage.GetItemAsync<int>("AgentId");
    }

}
