@page "/dashboard/myprofile"
@using FribergHomeClient.Components
@using FribergHomeClient.Data.Dto
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject HttpClient Http

<h3>Min Profil</h3>

@* <AgentProfile Id="agentId" ></AgentProfile> *@

@code {
    private int agentId;

    protected override async Task OnInitializedAsync()
    {
        agentId = await LocalStorage.GetItemAsync<int>("AgentId");
        Console.WriteLine($"agentId={agentId}");
    }

}
