@inherits LayoutComponentBase

<NavMenu />
<div class="page">
    <div class="sidebar">
        <SidebarMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>