@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@* //Author:Emelie *@
<RadzenComponents />
<RadzenLayout>
	<RadzenHeader>

		<RadzenNavMenu OnSidebarVisible="@(() => ToggleSidebar = !ToggleSidebar)" />

	</RadzenHeader>
	<AuthorizeView>
		<RadzenSidebar Responsive="true" Expanded="@ToggleSidebar" ExpandedChanged="@OnSidebarChanged" class="sidebar-small" Style="width: max-content; background-color: #54787e;">
			<RadzenSiteDashboard/>
		</RadzenSidebar>
	</AuthorizeView>

	<RadzenBody>
		<div class="rz-p-4">
			@Body
		</div>
	</RadzenBody>

	<RadzenComponents @rendermode="RenderMode.InteractiveAuto" />
</RadzenLayout>



<HeadContent>
	<RadzenTheme Theme="software" />
	<title>FribergHome</title>
	<PageTitle />
</HeadContent>

@code {
	private bool ToggleSidebar = true; 

	private void OnSidebarChanged(bool expanded)
	{
		ToggleSidebar = expanded;
	}
}