@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@* //Author:Emelie *@
<h2>@ToggleSidebar</h2>
<RadzenComponents />
<RadzenLayout>
	<RadzenHeader>

		<RadzenNavMenu OnSidebarVisible="@(() => ToggleSidebar = !ToggleSidebar)" />

	</RadzenHeader>
	<AuthorizeView>
		<RadzenSidebar Expanded="@ToggleSidebar" ExpandedChanged="@OnSidebarChanged" class="sidebar-small" Style="width: max-content;">

			<RadzenSiteDashboard SidebarVisible="true"/>
		</RadzenSidebar>
	</AuthorizeView>

	<RadzenBody>
		<div class="rz-p-4">
			@Body
		</div>
	</RadzenBody>

	<RadzenNotification />
	<RadzenSiteFooter />
</RadzenLayout>



<HeadContent>
	<RadzenTheme Theme="software" />
	<title>FribergHome</title>
	<PageTitle />
</HeadContent>

@code {
	private bool ToggleSidebar = true; // Default state

	private void OnSidebarChanged(bool expanded)
	{
		ToggleSidebar = expanded;
		Console.WriteLine($"Sidebar Expanded Changed: {ToggleSidebar}");
	}
}