@inherits LayoutComponentBase

<RadzenComponents />

@* <RadzenComponents @rendermode="RenderMode.InteractiveWebAssembly" />  BEHÖVER JAG DENNA??? *@

@* <NavMenu />
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

<RadzenLayout>
    <RadzenNavMenu />
    <RadzenSiteDashboard />
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenSiteFooter />
</RadzenLayout>

<HeadContent>
    <RadzenTheme Theme="software" />
</HeadContent>

@* @inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

