
.icon-text {
    color: var(--rz-link-color);
    font-size: small;
    font-weight: normal;
    display: block;
    line-height: 1;
}

.navbar-link {
    color: var(--rz-link-color) !important;
    text-align: center;
}