@inject IAuthenticationService authService
@inject NavigationManager NavManager

@* //Author:Emelie *@

<RadzenStack Orientation="Orientation.Vertical" Gap="0">
    <div class="rz-display-flex rz-row rz-align-items-center rz-justify-content-flex-start" style="background-color: #EFEDEB;">
        <div class="rz-col-5">
            <RadzenStack Orientation="Orientation.Horizontal" Gap="10" AlignItems="AlignItems.Center">
                @* <RadzenSidebarToggle class="mobile-toggle" Click="ToggleSidebar" /> *@
                <RadzenImage Path="/images/LoggaFribergHome.png" Style="width: 75px; height: auto; margin-left:40px; margin-right:40px;" />
                <RadzenLink Path="/" Text="FribergHome.nu" Style="font-size: 24px; font-weight: bold;"  />
            </RadzenStack>
        </div>
        <div class="rz-col-7">
            <RadzenStack Orientation="Orientation.Horizontal" Gap="20" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                <AuthorizeView>
                    <Authorized>
                        <RadzenLink Path="/searchproperty" Text="Sök Bostad" Style="font-size: 1.3em; text-decoration: none;" />
                        <RadzenLink Path="/searchrealestateagent" Text="Sök Mäklare" Style="font-size: 1.3em; text-decoration: none;" />
                        <LogoutButton />
                    </Authorized>
                    <NotAuthorized>
                        <RadzenLink Path="/searchproperty" Text="Sök Bostad" Style="font-size: 1.3em; text-decoration: none;" />
                        <RadzenLink Path="/searchrealestateagent" Text="Sök Mäklare" Style="font-size: 1.3em; text-decoration: none;" />
                        <RadzenLink Path="/login" Text="Logga in" Style="font-size: 1.3em; text-decoration: none; margin-right:2em;" />
                    </NotAuthorized>
                </AuthorizeView>
            </RadzenStack>
        </div>
    </div>
</RadzenStack>

@code {
    private bool IsSidebarExpanded { get; set; }

    [Parameter]
    public EventCallback<bool> OnSidebarExpanded { get; set; }

    private async Task ToggleSidebar()
    {
        IsSidebarExpanded = !IsSidebarExpanded;
        await OnSidebarExpanded.InvokeAsync(IsSidebarExpanded);
    }
}

