@page "/"
@inject DialogService DService

<PageTitle>Home</PageTitle>
<h3>Landing Page</h3>

<SearchBar></SearchBar>

<ListPropertyCards Take=3
				   IsCompactView=true
				   SmallCardContainer=true
				   Header="Nyheter">
</ListPropertyCards>

@* <RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton> *@

@code {
	// void ButtonClicked()
	// {
	// 	DService.Alert("Hello");
	// }
}
