@page "/"
@inject DialogService DService

<PageTitle>Home</PageTitle>

@* <ShowAllTheStuff></ShowAllTheStuff> *@

<h1>Hello, world!</h1>

Welcome to your new app.

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
    void ButtonClicked()
    {
        DService.Alert("Hello");
    }
}
