@page "/"
@inject DialogService DService

<PageTitle>Home</PageTitle>
<h3>Landing Page</h3>
<ListPropertyCards Take="5"></ListPropertyCards>

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>

@code {
    void ButtonClicked()
    {
        DService.Alert("Hello");
    }
}
