@page "/"
@inject DialogService DService
@inject NavigationManager NavManager
<PageTitle>Home</PageTitle>
<h3>Landing Page</h3>

<SearchBar OnSearchMuncipality="HandleSearch"></SearchBar>

@* Change IsCompactView for large property cards instead *@
<ListPropertyCards Take=3
				   IsCompactView=true
				   Header="Nyheter">
</ListPropertyCards>

@* <RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton> *@

@code {
	// void ButtonClicked()
	// {
	// 	DService.Alert("Hello");
	// }

	private async Task HandleSearch(int muncipalityId)
	{
		if (muncipalityId != 0)
			NavManager.NavigateTo($"searchproperty/{muncipalityId}");
		// await DService.Alert(muncipalityId.ToString());
	}
}
