@page "/"
@inject DialogService DService
@inject NavigationManager NavManager
<PageTitle>Home</PageTitle>

@* Author: Glate *@

<PageTitle>FribergHome.nu</PageTitle>
<div class="top-backdrop">
	<SearchBar OnSearchMuncipality="HandleSearch"></SearchBar>
</div>

<div class="content">
	<ListPropertyCards Take=3
					   IsCompactView=true
					   InitialHeader="Nyheter">
	</ListPropertyCards>
</div>

@code {

	private async Task HandleSearch(int muncipalityId)
	{
		if (muncipalityId != 0)
			NavManager.NavigateTo($"searchproperty/{muncipalityId}");
		else
			NavManager.NavigateTo($"searchproperty");
	}
}
