@page "/details/{Id:int}"
@using FribergHomeClient.Data.Dto
@using FribergHomeClient.Services
@inject IPropertyService PropertyService

@if(Property is null)
{
    <p>Laddar bostadsinformation...</p>
}
else
{
    <p>@Property.Street</p> 
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
    </RadzenStack>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public PropertyDTO Property { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Property = await PropertyService.GetPropertyDTO(Id);
    }

}
