@page "/searchproperty"
@page "/searchproperty/{muncipalityId:int?}"
@using FribergHomeClient.Components

@* Author: Glate *@

<PageTitle>Sök Bostad</PageTitle>

@if (!MuncipalityId.HasValue)
{
	<div class="top-backdrop">
		<SearchBar OnSearchMuncipality="HandleSearch"></SearchBar>
	</div>
	<div class="content">
		<ListPropertyCards InitialHeader="Alla listningar"></ListPropertyCards>
	</div>
}
else
{
	<div class="top-backdrop">
		<SearchBar OnSearchMuncipality="HandleSearch"></SearchBar>
	</div>
	<div class="content">
		<ListPropertyCards MuncipalityId="MuncipalityId"></ListPropertyCards>
	</div>
}

@code {
	[Parameter]
	public int? MuncipalityId { get; set; }

	private async Task HandleSearch(int muncipalityId)
	{
		MuncipalityId = muncipalityId;
		StateHasChanged();
	}
}
