@inject DialogService DialogService

@* //Author:Emelie *@

<div class="rz-dialog-content rz-p-4">
    <h4>Är du säker på att du vill logga ut?</h4>
    <div class="rz-mt-4 rz-text-align-right">
        <RadzenButton Text="Avbryt" ButtonStyle="ButtonStyle.Light" Click="@(() => DialogService.Close(false))" class="rz-mr-2" />
        <RadzenButton Text="Logga ut" ButtonStyle="ButtonStyle.Danger" Click="@(() => DialogService.Close(true))" />
    </div>
</div>

@code {

}
