@inject HttpClient Http

<RadzenRow Gap="1rem" class="rz-justify-content-center">
	<RadzenColumn SizeMD="4" SizeSM="12">
		<div class="rz-p-5 rz-p-md-12 rz-m-5 rz-background-color-primary-lighter" style="border-radius: 4px;">
			<RadzenText TextStyle="TextStyle.H5">Sök på kommun</RadzenText>
			<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="1rem" Wrap="FlexWrap.Wrap">

@* 				TODO: Ändra storlek på SelectMuncipalityComponent? Eller wrappa storlek runt?*@
					<SelectMuncipalityComponent></SelectMuncipalityComponent> 

			</RadzenStack>
			<RadzenButton Text="Sök" class="rz-my-2" Style="width: 100%;" />

		</div>
	</RadzenColumn>
</RadzenRow>
@code {
	string value = "";
	Variant variant = Variant.Outlined;
	DateTime? date = DateTime.Today;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}
