@inject DialogService DialogService
@inject NotificationService NotificationService

<div class="rz-dialog-content rz-p-4">
	<div class="rz-mt-4 rz-text-align-right">
		<RadzenCard Style="text-align: center; padding: 10px;">
			<RadzenColumn Style="padding: 10px;">
				<img src="@ExistingImageUrl" alt="Image" style="width: 50%; height: auto; max-height: 150px; object-fit: cover;" />
				<RadzenTextBox Placeholder="Lägg till bild Url..." Style="width: 60%;" Name="ImageUrl" @bind-Value=newImageUrl />
				<RadzenButton Icon="add" Text="Lägg till" Click="@(() => AddImage())" Style="margin-left: 1rem;" />
				<RadzenButton Icon="save" Text="Spara" ButtonStyle="ButtonStyle.Primary" Click="@(() => DialogService.Close(ExistingImageUrl))" />
			</RadzenColumn>
			@if(!string.IsNullOrEmpty(ErrorMessage))
			{
				
			}
		</RadzenCard>

	</div>
</div>

@code {
	[Parameter]
	public string ExistingImageUrl { get; set; } 
	private string newImageUrl;
	private string? ErrorMessage { get; set; }

	private void RemoveImage()
	{
		ExistingImageUrl = "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541";
	}

	private void AddImage()
	{
		if (IsValidUrl(newImageUrl))
		{
			ExistingImageUrl = newImageUrl;
		}
		else
		{
			//TODO: Notificationmessage
		}
	}

	public bool IsValidUrl(string url)
	{
		return Uri.TryCreate(url, UriKind.Absolute, out Uri? uriResult) 
						&& (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
	}
}
